@import '@/careers/styles/variables';
@import '@/careers/styles/media-queries';

.wrapper {
  display: none;

  @include xl {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-top: -55px;
  }
}

.inner {
  position: relative;

  img {
    position: relative;
    z-index: 2;
    max-width: 909px;
  }
}
