@import './src/assets/scss/variables/index';

%link-style {
  color: var(--link-color, $jazzberryJam);
  transition: all 200ms ease-in;

  &:visited {
    color: var(--link-color, $abbey);
  }

  &:hover {
    color: var(--link-color, $sanMarino);
  }

  &:focus:not(:active) {
    outline-offset: 3px;
    border-color: transparent;
    outline: 3px solid currentColor;
  }
}

%link-style-underline {
  border-bottom: 1px solid var(--link-underline-color, #{$jazzberryJam});

  &:hover {
    --link-underline-color: currentColor;
  }

  &:focus {
    border-color: transparent;
  }

  &:visited {
    --link-underline-color: currentColor;
  }

  u {
    text-decoration: none;
  }
}

%link-style-hover-invert {
  &:hover {
    border-color: transparent;
    box-shadow: inset 0 -1rem 0 $wildSand;
  }
}
