.tableRow {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #D2D6DC;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  &.last {
    margin-bottom: 16px;
    border: 0;
  }

  &.noBorder {
    border: 0;
  }

  &.noWrap {
    flex-wrap: nowrap;
  }
}

.colSpan {
  flex: 0 0 100%;
  background-color: white;
  border-right: 0;
  padding: 15px 0 18px;
  text-align: center;
  border-bottom: 1px solid #D2D6DC;

  @media (min-width: 576px) {
    padding: 14px 0 12px;
  }

  @media (min-width: 768px) {
    flex-basis: 245px;
    justify-content: flex-start;
    text-align: left;
    padding: 0 0 0 16px;
    align-items: center;
    display: flex;
    border-bottom: 0;
  }

  @media (min-width: 992px) {
    flex-basis: 320px;
  }

  @media (min-width: 1200px) {
    flex-basis: 388px;
  }

  p {
    color: #7B8694;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &.noBgColspan {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0;
  }
}

.cell {
  flex: 0 0 50%;
  background-color: white;
  padding: 16px;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    flex: 0 0 33%;
  }

  &:last-child {
    background-color: #F8F8F8;
  }

  &.asHeading {
    padding: 0 24px;
  }

  &.noBg {
    background-color: transparent;
    border-bottom: 0;
  }

  &.withBorderBottom {
    border-bottom: 1px solid #1A4073;
  }

  &.lg {
    padding: 8px 0;
    background-color: red;

    @media (min-width: 768px) {
      padding: 16px 0;
    }

    @media (min-width: 1200px) {
      padding: 9px 14px;
    }
  }
}

.featureValue {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 13px;
  color: #2F3744;
  line-height: 20px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }

  @media (min-width: 1200px) {
    height: 52px;
  }

  &.asHeading {
    height: 48px;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 13px;
      line-height: 20px;
      height: 48px;
    }

    @media (min-width: 1200px) {
      font-size: 16px;
      line-height: 26px;
      height: 64px;
    }
  }
}
