$rhino100: #2f3744;
$rhino60: #7b8694;
$rhino20: #d2d6dc;
$rhino5: #f3f4f5;
$blue: #1869b7;
$green: #0f9d58;

$yellow: #fbbc05;
$red: #fd2512;
$turquoise: #29b0c4;
$rhino80: #535e70;
$rhino40: #a6aeb8;
$rhino10: #e8eaec;

$brandOldbaker: #96285f;
$brandCoral: #e44b4b;
$brandCoralLight: #fd6d6d;
$brandCoralLighter: #ffdcd5;
$brandTomato: #eb6241;
$brandTomatoLight: #ff9262;
$brandTomatoLighter: #ffe9d8;
$brandGreen: #2eb67b;
$brandGreenLight: #70ce95;
$brandGreenLighter: #e1f6e9;
$brandBlue: #48a7e3;
$brandBlueLight: #85c4ec;
$brandBlueLighter: #d1e8f6;
$brandPurple: #7d61de;
$brandPurpleLight: #a085ff;
$brandPurpleLighter: #e8e2fd;
$brandDarkBlue: #000651;
$brandLightBlue: #13196e;

$brandAqua: #5fd2b4;
$brandAquaLight: #84dbbc;
$brandAquaDarker: #27e2c1;
$brandAquaLighter: #d7f3ee;
$brandSky: #6284fb;
$brandSkyLight: #85a0ff;
$brandSkyLighter: #e4e9fd;
$brandRoyal: #666de9;
$brandRoyalLight: #7d82f1;
$brandRoyalLighter: #dcdef8;
$brandPink: #d73094;
$brandPinkLight: #f592db;
$brandPinkLighter: #f6d8f4;
$brandRed: #d23459;
$brandRedLight: #f2536f;
$brandRedLighter: #fdd7da;
$brandyellow: #e8bc3c;
$brandyellowLight: #eecd59;
$brandyellowLighter: #fcf1bd;
$brandLime: #54b354;
$brandLimeLight: #99d464;
$brandLimeLighter: #dbf3cd;

$socialFacebook: #3b5b97;
$socialFacebookDark: #334f84;
$socialTwitter: #59adeb;
$socialTwitterDark: #4d99d1;
$socialInstagram: #d73676;
$socialInstagramDark: #cb2b6b;
$socialGoogleplus: #db4c3f;
$socialGoogleplusDark: #c34236;
$socialyoutube: #ff0000;
$socialyoutubeDark: #e60000;
$socialLinkedin: #1078b3;
$socialLinkedinDark: #0e6a9e;
$socialPinterest: #bb0f23;
$socialPinterestDark: #a20c1d;
$socialGoogleanalytics: #f57e02;
$socialGoogleanalyticsDark: #df7200;
$socialVkontakte: #4e76a1;
$socialVkontakteDark: #3c6087;

// PRIMARY PALETTE
$teal: #49c7ed;
$purple: #485daa;
$darkBlue: #003a5d;
$charcoal: #454647;

// New colors
$jazzberryJam: #a30c65;
$purple: #394c9b;
$darkCerulean: #194484;
$malibu: #63bceb;
$darkTeal: #24abe2;

$fontFamilyPrimary: 'Poppins', sans-serif;

$fontFamilySecondary: 'Lato', sans-serif;

$defaultTransition: all 0.2s ease-in;

$headerHeight: 64px;
$headerHeightDesktop: 80px;
