.tile {
  background-color: red;
}

.grid {
  display: grid;
  row-gap: 16px;
  margin-bottom: 64px;

  @media (min-width: 768px) {
    column-gap: 32px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 96px;
  }

  @media (min-width: 992px) {
    margin-bottom: 144px;
  }
}
