.trialGridWrapper {
  background-color: #F0F0EC;
  padding-bottom: 48px;

  @media (min-width: 768px) {
    padding-bottom: 64px;
  }
}

.trialGrid {
  display: grid;
  row-gap: 24px;
  margin-bottom: 48px;
  padding-top: 32px;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 542px;
  }

  @media (min-width: 768px) {
    max-width: 752px;
    display: flex;
    grid-gap: 32px;
    margin-bottom: 64px;
    padding-top: 48px;
  }

  @media (min-width: 992px) {
    max-width: 972px;
  }

  @media (min-width: 1200px) {
    max-width: 1172px;
    display: grid;
    grid-template-columns: 359px 1fr;
  }
}

.item {
  background-color: #fff;
  padding: 32px 16px;
  min-height: 359px;
  display: flex;
  flex-direction: column;
  order: 2;

  @media (min-width: 768px) {
    width: 100%;
    max-width: 281px;
    padding: 24px 24px 35px;
    margin-top: 76px;
    order: 1;
  }

  @media (min-width: 992px) {
    max-width: 100%;
  }

  @media (min-width: 1200px) {
    padding: 48px 48px 64px;
    margin-top: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 16px;

    @media (min-width: 1200px) {
      margin-bottom: 13px;
    }
  }
  .descriptionWrapper {
    p {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 32px;

        @media (min-width: 768px) {
          margin-bottom: 48px;
        }
      }
    }
  }

  &.dark {
    background-color: #1A4073;
    position: relative;
    color: #fff;
    order: 1;

    @media (min-width: 768px) {
      margin-top: 0;
      padding: 64px 32px 32px;
      order: 2;
      max-width: 100%;
    }

    @media (min-width: 1200px) {
      padding: 64px 48px;
    }
  }
}

.btn {
  width: max-content;
  padding: 11px 24px;
  margin-bottom: 32px;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  display: inline-block;
  border: 0;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  font-style: normal;
  height: auto;
  white-space: nowrap;
  transition: all 0.5s;
  background-color: #C12982;
  color: #fff !important;

  &:hover {
    background-color: #454647;
  }
}
.notice {
  font-size: 13px;
  line-height: 20px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }
}

.tagRecommended {
  background-color: #fff;
  border-radius: 2px;
  padding: 0 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
  display: inline-block;
  color: #000;

  @media (min-width: 768px) {
    float: right;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

