@import '@/careers/styles/variables';
@import '@/careers/styles/media-queries';

.wrapper {
  min-height: calc(100vh - 80px - 430px - 270px);
}

.viewMode {
  font-size: 13px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    height: 35px;
    margin-left: 8px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.active {
  svg {
    path {
      fill: white;
    }
  }
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 100px;

  @include md {
    flex-direction: row;
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
