.pageWrapper {
  background-color: #F0F0F0;
  padding-bottom: 32px;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 542px;
  }

  @media (min-width: 768px) {
    max-width: 752px;
  }

  @media (min-width: 992px) {
    max-width: 972px;
  }

  @media (min-width: 1200px) {
    max-width: 1172px;
  }
}
