@import './src/assets/scss/variables/index';

.emplifi-article-area {
	margin: 0 auto;
	max-width: $max-width-content;
	padding: $spacing-sm;
	@media (min-width: $mq-1024) {
		padding-left: 0;
		padding-right: 0;
	}

	&--type-Editorial {
		padding-bottom: 45px;

		.emplifi-article-area__info {
			.typography--Headline5 {
				margin-left: 22px;
				margin-bottom: 0;
			}
		}
	}

	&__container {
		display: grid;
		grid-template-areas: "tIMAGE" "tHEAD";
		grid-column-gap: $spacing-sm;
		grid-row-gap: $spacing-xs;
		justify-content: center;
		align-items: center;
		@media (min-width: $mq-768) {
			grid-template-areas: "tHEAD tIMAGE";
		}
		&--image-position-top {
			align-items: start;
		}

		&--image-position-bottom {
			align-items: end;
		}
	}

	&__image {
		grid-area: tIMAGE;
		width: 100%;
	}

	&__info {
		grid-area: tHEAD;

		.typography--Eyebrow {
			margin-bottom: 10px;
		}

		.typography--Headline1 {
			padding-left: 22px;
			position: relative;
			color: $astronautBlue;
			font-weight: $font-weight-book;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				height: 100%;
				width: 4px;
				background-color: $pictonBlue;
			}
		}

		.typography--Headline5 {
			margin-top: 15px;
			margin-bottom: 30px;
			color: $pictonBlue;
		}
	}

	&__paragraph {
		p {
			font-size: 18px !important;
			line-height: 24px !important;
			margin-bottom: 15px !important;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	.emplifi-article-renderer {
		padding: 0;
	}
}

@media (min-width: $mq-1024) {
	.emplifi-article-area {
		&--type-Area {
			padding-top: 120px;
			padding-bottom: 115px;
		}

		&--type-Editorial {
			padding-top: 90px;
			padding-bottom: 35px;

			.emplifi-article-area__info {
				max-width: 461px;
				padding-left: 0;

        &.no-image {
          max-width: 100%;
        }

				.typography--Headline5 {
					margin-left: 0;
				}
			}

			.emplifi-article-area__image-container {
				padding-right: 0;
			}
		}

		&__container {
			&--image-position-bottom {
				.emplifi-article-area__image {
					margin-bottom: 35px;
				}
			}
		}
	}
}
