@import '@/careers/styles/mixins';
@import '@/careers/styles/variables';
@import '@/careers/styles/media-queries';

.grid {
  display: grid;
  margin-bottom: 48px;

  @include md {
    padding-bottom: 67px;
    margin-bottom: 30px;
  }

  @include lg {
    grid-template-columns: auto 373px;
    row-gap: 64px;
    column-gap: 32px;
  }

  @include xl {
    grid-template-columns: auto 456px;
  }
}

.gridTop {
  padding-top: 48px;

  @include md {
    padding-top: 64px;
  }

  @include lg {
    grid-column: 1 / span 2;
  }
}

.gridContent {
  order: 1;

  @include lg {
    order: 0;
  }
}

.boxHolder {
  @include lg {
    position: sticky;
    top: calc(50px + #{$headerHeight});
    background-color: #fff;
  }

  @include mainNavDesktop {
    top: calc(50px + #{$headerHeightDesktop});
  }
}

.floatingBoxColumn {
  @include lg {
    max-height: 70%;
  }
}
