.search-results {
  margin-top: 40px;
  max-width: 896px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  * {
    font-family: 'Lato', sans-serif;
  }

  .categories {
    padding-left: 80px;
    padding-right: 50px;
    margin-bottom: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid #454647;
    @media (max-width: 991px) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    ul {
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      li {
        display: inline-block;
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }

        button {
          color: #454647;
          font-size: 16px;
          font-weight: 900;
          transition: none;

          span {
            font-weight: 600;
            color: #999999;
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
            margin-top: 3px;
            margin-left: 6px;
          }

          &.selected,
          &:hover {
            color: #a30c65;
            transform: scale(1);
            outline: none !important;
            @media (max-width: 991px) {
              padding-bottom: 8px;
            }

            &:after {
              content: ' ';
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: #a30c65;
              bottom: -8px;
              left: 0px;
              @media (max-width: 991px) {
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .results {
    margin-bottom: 56px;

    .result {
      margin-bottom: 24px;

      .breadcrumb {
        margin-bottom: 8px;

        > div{
          display: inline-block;
        }

        p {
          font-size: 12px;
          color: #003a5d;
          font-weight: 600;
          margin-bottom: 0;
          display: inline;
        }

        svg {
          transform: rotate(-90deg);
          margin-left: 6px;
          margin-right: 6px;
        }
      }

      h2 {
        font-size: 18px;
        font-weight: 600;
        color: #454647;
        line-height: 28px;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #454647;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .article-paging {
    text-align: center;

    ul {
      display: inline-block;
    }
  }

  .highlighted-text {
    background-color: #b4dcf3;
  }

  .scrollable-area {
    @media (max-width: 991px) {
      overflow-y: auto;

      &::-webkit-scrollbar {
        height: 0;
        width: 0;
        background: gray;
      }
    }

    ul {
      @media (max-width: 991px) {
        height: auto;
      }

      @media (min-width: 992px) {
        width: auto !important;
      }
    }
  }
}

.no-search-results {
  margin-top: 60px;
  margin-bottom: 400px;
  max-width: 896px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  * {
    font-family: 'Lato', sans-serif;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #454647;
    line-height: 28px;
    margin-bottom: 15px;
    margin-bottom: 5px;
  }
}
